<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mergecreation.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.HelpLineTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.PostDisasterDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.SelectLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.OthersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.HotlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.ImportantPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.AskForHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home_activity.DisasterTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>